<footer class="app-footer">
  <div class="footer-content">
    <div class="footer-section contact-info">
      <h3>Contact Information</h3>
      <p class="company-name">NITEJ TECHNOLOGIES PVT. LTD.</p>
      <p class="phone">
        <a href="tel:+917887778577" class="contact-link">+91 - 7887778577</a>
      </p>
      <p class="email">
        <a href="mailto:Info@nitej.com" class="contact-link"
          >Info&#64;nitej.com</a
        >
      </p>
      <address>
        Survey No 65/A/4/1B, Manjari<br />
        Farm, Pune, Maharashtra, India -<br />
        412307
      </address>
    </div>

    <div class="footer-section">
      <h3>Services</h3>
      <ul>
        <li><a routerLink="/services">Web Development</a></li>
        <li><a routerLink="/services">Mobile App Development</a></li>
        <li><a routerLink="/services">Machine Learning</a></li>
        <li><a routerLink="/services">Support</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h3>Platforms</h3>
      <ul>
        <li><a href="#">Salesforce</a></li>
        <li><a href="#">Unity</a></li>
        <li><a href="#">UiPath</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h3>Company</h3>
      <ul>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/about">Blog</a></li>
      </ul>
    </div>

    <div class="footer-section social-media">
      <h3>Follow Us On:</h3>
      <div class="social-links">
        <a href="#" aria-label="LinkedIn"><i class="fa fa-linkedin"></i></a>
        <a href="#" aria-label="Facebook"><i class="fa fa-facebook-f"></i></a>
        <a href="#" aria-label="Twitter"><i class="fa fa-twitter"></i></a>
      </div>
    </div>
  </div>

  <div class="copyright-bar">
    <p>&#64; NITEJ TECHNOLOGIES. All rights reserved</p>
  </div>
</footer>
