<!-- src/app/app.component.html -->
<header>
  <!-- <div class="logo">NITEJ</div> -->
   <img src="assets/nitej.png" alt="Nitej Logo" class="logo">
   <!-- <img src="/nitej-website/assets/nitej.png" alt="Nitej Logo" class="logo"> -->
  <nav>
    <a
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Home</a
    >
    <a routerLink="/products" routerLinkActive="active">Products</a>
    <a routerLink="/services" routerLinkActive="active">Services</a>
    <a routerLink="/about" routerLinkActive="active">About</a>

    <!-- <a routerLink="/login" routerLinkActive="active">Log In</a> -->
    <button class="get-started" routerLink="/get-started">Get Started</button>
  </nav>
</header>

<!-- <main>
  <router-outlet></router-outlet>
</main> -->
<div class="background-layer"></div>
<main>
  <router-outlet></router-outlet>
</main>
<app-footer></app-footer>
