/* You can add global styles to this file, and also import other style files */
/* styles.css */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif; /* It's good practice to set a base font here */
  overflow-x: hidden;
}

* {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.d-flex {
  display: flex;
}
