<div class="about-container">
  <h1>ABOUT US</h1>
  <p>
    At NITEJ TECHNOLOGIES, we believe in leveraging technology to unlock new
    possibilities for businesses of all sizes. Founded on the principles of
    innovation, integrity, and client-centered solutions, we’ve been a trusted
    partner for organizations looking to evolve in today’s fast-paced digital
    landscape.
  </p>
</div>

<div class="page-background">
  <div class="parent" id="parent1">
    <div
      id="div35-1"
      class="child child-35 has-bg"
      style="background-image: url('../../../../assets/ourmission.png')"
    >
      <h3>Our Mission</h3>
    </div>
    <div id="div65-1" class="child child-65">
      <div class="details">
        Our mission is simple: To empower businesses through tailored software
        solutions that drive efficiency, engagement, and growth. Whether it’s
        creating responsive websites, intuitive mobile apps, powerful eCommerce
        platforms, or intelligent chatbots, we’re dedicated to delivering
        high-quality digital products that make a tangible impact.
      </div>
    </div>
  </div>

  <div class="parent" id="parent2">
    <div id="div65-2" class="child child-65">
      <div class="details">
        ​With expertise spanning a wide range of technologies and industries, we
        work closely with our clients to understand their unique goals and
        challenges. We then develop solutions that are not only technically
        robust but also adaptable, scalable, and designed with the end-user in
        mind. From ideation to execution, we ensure a seamless experience that
        keeps clients informed, engaged, and in control at every step.
      </div>
    </div>
    <div
      id="div35-2"
      class="child child-35"
      style="background-image: url('assets/whatwedo.png')"
    >
      <h3>What We Do</h3>
    </div>
  </div>

  <div class="parent" id="parent3">
    <div
      id="div35-3"
      class="child child-35 has-bg"
      style="background-image: url('assets/ourmission.png')"
    >
      <h3>Our Approach</h3>
    </div>
    <div id="div65-3" class="child child-65 has-bg">
      <div class="details">
        We believe in close collaboration with clients, transforming their ideas
        into solutions that are both practical and innovative.​ Quality is at
        the heart of everything we do, and we hold ourselves to the highest
        standards in code, design, and user experience. We aim to create
        solutions that grow with your business, adapting to meet evolving needs
        in an ever-changing digital landscape.
      </div>
    </div>
  </div>

  <div class="parent" id="parent4">
    <div id="div65-4" class="child child-65">
      <div class="details">
        Our vision is to be more than just a software company. We strive to be a
        partner in progress, providing solutions that help businesses thrive in
        an increasingly digital world. We’re driven by the success of our
        clients, and we’re always looking for new ways to bring meaningful
        change through technology.
      </div>
    </div>
    <div
      id="div35-4"
      class="child child-35"
      style="background-image: url('../../../../assets/whatwedo.png')"
    >
      <h3>Our Vision</h3>
    </div>
  </div>

  <div class="parent" id="parent5">
    <div
      id="div35-5"
      class="child child-35 has-bg"
      style="background-image: url('../../.././../assets/ourmission.png')"
    >
      <h3>Why Choose Us</h3>
    </div>
    <div id="div65-5" class="child child-65">
      <div class="details">
        Choosing NITEJ means choosing a team committed to your vision and
        dedicated to crafting technology that matters. Let us be the foundation
        of your next big idea and help you achieve lasting success in a
        digital-first world.
      </div>
    </div>
  </div>
</div>
