.product-container {
  padding: 2rem;
  color: white;
  min-height: 60vh;
}

/* TEXT */
.product-info {
  padding: 1.5rem;

  h1 {
    font-size: 59px;
    font-weight: bold;
  }

  p {
    font-size: 24px;
    font-weight: bold;
  }
}

/* VIDEO */
.product-media {
  display: flex;
  justify-content: center;
  align-items: center;

  video {
    width: 100%;
    max-height: 400px;
    border-radius: 8px;
  }
}

/* SPACING */
.row {
  margin-top: 150px;
}

/* MOBILE ONLY */
@media (max-width: 991px) {
  .row {
    margin-top: 60px;
  }

  .product-info {
    text-align: center;

    h1 {
      font-size: 2rem;
    }

    p {
      font-size: 1rem;
    }
  }
}
@media (max-width: 991px) {
  .product-info ul li {
    text-align: center;
  }
  .product-info ul li::after {
    content: "—";
    display: block;
    opacity: 0.4;
  }
}
