/* src/app/components/products/products.component.scss */
.product-container {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  color: white;
  // background-image: url("/assets/products.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  //   min-height: 100vh;
  min-height: 60vh;

  .product-info {
    flex: 1;
    // background-color: rgba(
    //   0,
    //   0,
    //   0,
    //   0.6
    // ); /* Optional: dark overlay for text readability */
    padding: 1.5rem;
    border-radius: 8px;

    h1 {
      font-size: 2.5rem;
      margin-bottom: 1rem;
      font-size: 59px;
      font-weight: bold;
    }

    p {
      font-size: 1.1rem;
      margin-bottom: 1rem;
      font-weight: bold;
      font-size: 24px;
    }

    h3 {
      margin-top: 1rem;
    }

    ul {
      list-style: disc inside;
      margin-bottom: 1.5rem;
    }

    button {
      background-color: transparent;
      color: #00aaff;
      border: 2px solid #00aaff;
      padding: 0.5rem 1.5rem;
      cursor: pointer;
      border-radius: 6px;
      font-weight: bold;
      text-transform: uppercase;
      transition: background-color 0.3s ease, color 0.3s ease,
        border-color 0.3s ease;

      &:hover {
        background-color: #00aaff;
        color: #0f0f0f;
        border-color: #00aaff;
      }
    }
  }

  .product-media {
    // flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    video {
      border-radius: 8px;
      max-height: 400px;
      height: 242px;
      width: 100%;
    }
  }
}
.row {
  margin-top: 150px;
}
