<div class="product-container row align-items-center">
  <!-- TEXT -->
  <div class="product-info col-lg-6 order-2 order-lg-1">
    <h1>SNOPBOT</h1>
    <p>
      Our All-in-One Chatbot Solution for Effortless Integrations and Seamless Customer Support
    </p>

    <h3>Features:</h3>
    <ul>
      <li>No Code Bot</li>
      <li>Social Media Integrations</li>
      <li>24/7 Customer Service</li>
      <li>AI enabled</li>
      <li>Lead Generation</li>
    </ul>
  </div>

  <!-- VIDEO -->
  <div class="product-media col-lg-6 order-1 order-lg-2">
    <video controls autoplay muted loop>
      <source src="assets/chatbotvideo.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
  </div>
</div>
