/* src/app/components/home/home.component.scss */
.home-text {
  max-width: 600px;
  animation: slide-in 1s ease-out forwards;
  opacity: 0;
  transform: translateX(-100%); /* Start from left */
  margin-top: 40px;
  padding-left: 50px;

  h1 {
    font-size: 59px;
    font-weight: bold;
    margin-bottom: 1rem;
    font-family: "Poppins", sans-serif;
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
  }

  button {
    background-color: #ff4c4c;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
    &:hover {
      background-color: #e04343;
    }
  }
}
@keyframes slide-in {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.services {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 500px;
}

.info-section {
  width: 40%;
  padding: 101px;
  border: 1px solid grey;
}

.card-section {
  width: 60%;
  display: flex;
  border: 1px solid grey;
  padding: 0 180px;
  background-color: black;
  opacity: 85%;

  .mr-28 {
    margin-right: 28px;
    position: relative;
    top: -60px;
  }

  .mt-105 {
    margin-top: 105px;
  }

  .mt-210 {
    margin-top: 210px;
  }

  .card {
    width: 11rem;
    background: #1b1c1e;
    margin: 0 0 12px 0;

    .card-title {
      color: #889ce7;
      font-size: 14px;
    }

    .card-icon {
      margin: 16px 46px 0 18px;
    }

    .card-text {
      color: #c6c7c8;
      font-size: 14px;
    }

    .card-border {
      background-color: #3f4349;
      border-radius: 7px;
      box-shadow: 0 1px 0 hsla(0, 0%, 100%, 0.1),
        inset 0 1px 0 rgba(0, 0, 0, 0.25);
      height: 2px;
      min-height: 1px;
      margin: 10px;
    }
  }
}
.choose-us {
  h3 {
    margin-top: 184px;
  }
  background-image: url("../../../../assets/whyChooseus.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px; /* Optional: adds spacing */
  color: white; /* Optional: improves text visibility */
  padding: 0 !important;
  height: 442px;
  text-align: center;
}
.choose-us-options {
  // text-align: center;
  ul {
    margin: 48px 0 0 89px;
    li {
      color: #c6c7c8;
      padding: 10px;
    }
  }
}

/* Smooth fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Black background for services sections */
.services {
  background-color: unset;
  color: #fff;
  padding: 60px 20px;
}

img {
  width: 125px;
}
.d-flex {
  justify-content: space-between;
  background: #7284c2;
  background: linear-gradient(
    90deg,
    rgba(114, 132, 194, 1) 0%,
    rgba(12, 15, 36, 1) 50%,
    rgba(114, 132, 194, 1) 100%
  );
  border-radius: 8px;
}

.client-section {
  text-align: center;
  padding: 0 0 60px 0;
}

.owl-carousel img {
  margin: auto;
  max-width: 100%;
}
.mt-16 {
  margin-top: 16px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-36 {
  margin-top: 36px;
}
.mt-46 {
  margin-top: 46px;
}
.mt-13 {
  margin-top: 13px;
}
.mt-0 {
  margin-top: 0 !important;
}
